@import "./../../Mixin.scss";

.App-title-container {
    display: flex;
    align-items: center;

    .see-all {
        color: #4cc2ff;

        &:hover {
            cursor: pointer;
        }
    }
}

.center {
    display: flex;
    justify-content: center;
}

.f-card-container {
    width: 373px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.774);
    background: rgba(161, 161, 161, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    &:hover {
        cursor: pointer;
    }

    .f-card-square {
        width: 100px;
        height: 100px;

        .f-card-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

        }

    }

    .bi-star-fill,
    .bi-star-half {
        margin: 0px 3px;
    }

}

.f-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

@include desk {
    .f-card-container {
        width: 292px;
        height: 100px;
    }
}

@include desk-sm {
    .f-card-container {
        width: 353px;
        height: 100px;
    }
    .f-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include tab {
    
    .f-card-container {
        width: 258px;
        height: 100px;
        margin: 10px;
    }
}

@include mobile {
    .f-card-container {
        width: 340px;
        height: 100px;
        margin: 10px;
    }

    .f-card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}